APP_NAME=Capability Interoperability Intelligence Platform
APP_ENV=local
API_V1_PREFIX=/api/v1

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=ciip
POSTGRES_USER=ciip_user
POSTGRES_PASSWORD=ciip_password

DATABASE_URL=postgresql+psycopg://ciip_user:ciip_password@db:5432/ciip